### Class title: DH 140, Winter 2022
### This file is an exploration of the Business Analytics Dataset. 
[Link to dataset page](https://corgis-edu.github.io/corgis/csv/business_dynamics/)
### This dataset includes American economic measures/, such as the number of openings and closings, job creation, company age and size, etc. 
###      Author: Ophelia Dong. 
# --------------------------------------------------------------

#### Section No.1 Import necessary modules

In [28]:
import pandas as pd

#### Section No.2 Import dataset

In [ ]:
file = pd.read_csv("business_dynamics.csv")

#### Section No.3 Filtering California Companies (Using Conditional Expressions)

In [ ]:
##### Finding all Californian companies in this this dataset 
##### Save it to a new dataframe called california_data
california_data = file[file["State"] == "California"]

##### Look at some of the data 
california_data.head()

In [40]:
##### There are 41 Californian companies 
len(california_data)

41

#### Section No.4 Calculates average job creations in California (Mathematical Operations and For Loop)

In [48]:
# In this section, I am calculating the average number of jobs created by Californian companies 
# who created more than 40,000 jobs 

# This is the sum of jobs created
sum_job_created = 0 
# This is the number of californian companies that created more than > 40,000 jobs 
num_company = 0 

# For each iteration, the if statement decides whether the company created more than 40,000 jobs
# If yes, then we add this number to the sum of jobs created, add one to num_company
for num in california_data["Data.Job Creation.Births"]:
    if num > 40000: 
        sum_job_created = sum_job_created + num 
        num_company = num_company + 1 
        

# This is the average number of jobs created by Californian companies who created more than 40,000 jobs,
# From years 1978 ~ 2018 
print(sum_job_created / num_company)

48173.31034482759

In [49]:
file

,State,Year,Data.DHS Denominator,Data.Number of Firms,Data.Calculated.Net Job Creation,Data.Calculated.Net Job Creation Rate,Data.Calculated.Reallocation Rate,Data.Establishments.Entered,Data.Establishments.Entered Rate,Data.Establishments.Exited,...,Data.Job Creation.Births,Data.Job Creation.Continuers,Data.Job Creation.Count,Data.Job Creation.Rate,Data.Job Creation.Rate/Births,Data.Job Destruction.Continuers,Data.Job Destruction.Count,Data.Job Destruction.Deaths,Data.Job Destruction.Rate,Data.Job Destruction.Rate/Deaths
0,Alabama,1978,972627,54597,74178,7.627,29.183,10457,16.375,7749,...,76167,139930,216097,22.218,7.831,81829,141919,60090,14.591,6.178
1,Alabama,1979,1037995,55893,58099,5.597,31.251,9668,14.701,7604,...,76618,143675,220293,21.223,7.381,101842,162194,60352,15.626,5.814
2,Alabama,1980,1064141,54838,-7253,-0.682,32.464,8714,13.168,8871,...,65734,106998,172732,16.232,6.177,120563,179985,59422,16.914,5.584
3,Alabama,1981,1051448,54791,-9132,-0.869,31.206,8371,12.687,7516,...,70115,93941,164056,15.603,6.668,121251,173188,51937,16.471,4.940
4,Alabama,1982,1037728,53219,-9658,-0.931,33.144,8185,12.497,8621,...,73083,98887,171970,16.572,7.043,119658,181628,61970,17.502,5.972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1922,Wyoming,2014,3121032,133693,30172,0.967,22.751,16681,9.367,14631,...,125806,259394,385200,12.342,4.031,254493,355028,100535,11.375,3.221
1923,Wyoming,2015,3173176,134663,59232,1.867,21.866,16966,9.442,14955,...,138746,267403,406149,12.799,4.372,240007,346917,106910,10.933,3.369
1924,Wyoming,2016,3234346,135969,60113,1.859,21.494,17461,9.599,14212,...,132492,275219,407711,12.606,4.096,247361,347598,100237,10.747,3.099
1925,Wyoming,2017,3277473,136785,45717,1.395,22.492,16431,8.947,15351,...,115172,299134,414306,12.641,3.514,254683,368589,113906,11.246,3.475
1926,Wyoming,2018,3337281,137189,71861,2.153,20.494,15716,8.540,15178,...,116947,296885,413832,12.400,3.504,237638,341971,104333,10.247,3.126

In [50]:
file["Data.Number of Firms"]

0        54597
1        55893
2        54838
3        54791
4        53219
         ...
1922    133693
1923    134663
1924    135969
1925    136785
1926    137189
Name: Data.Number of Firms, Length: 1927, dtype: int64

#### Section No.4 Find a specific value in a specific state and year (Defining Functions)

In [68]:
new = file[file["Year"] == 1978]
new[new["State"] == "Alabama"]["Data.Number of Firms"]

0    54597
Name: Data.Number of Firms, dtype: int64

In [69]:
# This function takes in three variables, file = dataframe name, state = name of a state in this dataset
# and year = year within the range in this dataset 
# This function outputs the value of any column of the specified state in the specified year 

def find_num_firms(file,state,year,column):
    # take only rows in the wanted year 
    new = file[file["Year"] == year]
    
    # result is the value of the column for that specific state and year wanted
    result = new[new["State"] == state][column]
    
    return result

In [84]:
find_num_firms(file=file,state="California",year=1978,column="Data.Number of Firms")

36821

#### Section No.5 Prints out the number of firms in California for 1978 - 2018 (Using Function and Loops)

In [93]:
for year in list(range(1978,2019)):
    print("State: California |","Year:",year, "| Column:",find_num_firms(file=file,state="California",year=year,column = "Data.Number of Firms").values[0],sep = " ")

State: California | Year: 1978 | Column: 36821
State: California | Year: 1979 | Column: 37250
State: California | Year: 1980 | Column: 37057
State: California | Year: 1981 | Column: 36818
State: California | Year: 1982 | Column: 36204
State: California | Year: 1983 | Column: 37183
State: California | Year: 1984 | Column: 39236
State: California | Year: 1985 | Column: 39591
State: California | Year: 1986 | Column: 39482
State: California | Year: 1987 | Column: 39549
State: California | Year: 1988 | Column: 40139
State: California | Year: 1989 | Column: 40531
State: California | Year: 1990 | Column: 41362
State: California | Year: 1991 | Column: 41236
State: California | Year: 1992 | Column: 41708
State: California | Year: 1993 | Column: 43077
State: California | Year: 1994 | Column: 44218
State: California | Year: 1995 | Column: 45420
State: California | Year: 1996 | Column: 45793
State: California | Year: 1997 | Column: 46053
State: California | Year: 1998 | Column: 46036
State: California | Year: 1999 | Column: 46052
State: California | Year: 2000 | Column: 46170
State: California | Year: 2001 | Column: 45611
State: California | Year: 2002 | Column: 46004
State: California | Year: 2003 | Column: 46517
State: California | Year: 2004 | Column: 47068
State: California | Year: 2005 | Column: 47527
State: California | Year: 2006 | Column: 47887
State: California | Year: 2007 | Column: 48029
State: California | Year: 2008 | Column: 47447
State: California | Year: 2009 | Column: 46617
State: California | Year: 2010 | Column: 46127
State: California | Year: 2011 | Column: 45703
State: California | Year: 2012 | Column: 45646
State: California | Year: 2013 | Column: 45507
State: California | Year: 2014 | Column: 45398
State: California | Year: 2015 | Column: 45337
State: California | Year: 2016 | Column: 45669
State: California | Year: 2017 | Column: 45771
State: California | Year: 2018 | Column: 45821